/* Recommended Documents */
.pie-form-related-docx {
    background: #f6f6f6;
    padding: 10px 25px;
    border-radius: 20px;
    border: 1px solid #dadee1;
    margin: 30px 20px;
    box-sizing: border-box;
    float: left;
    width: calc(100% - 40px);
}
.pie-form-related-docx .pie-form-docx-top h2{
    font-size: 31px;
    color: #133950;
    font-weight: bold;
    margin:0;
    padding: 20px 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dadee1;
}
.pie-form-related-docx .pie-form-docx-top p{
    font-size: 17px;
    color: #133950;
    margin: 0;
    letter-spacing: 0.75px;
}
.pie-form-related-docx .pie-form-docx-bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px;
}
.pie-form-docx{
    display: flex;
    width: calc(50% - 30px);
    margin: 0px 15px;
}
.pie-form-related-docx .pie-form-docx .pie-form-docx-img {
    margin: 17px 19px 10px;
}
/* .pie-form-docx-info {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.pie-form-related-docx .pie-form-docx-info h3 a{
    font-size: 19px;
    color: #133950;
    font-weight: bold;
    margin: 0;
    padding: 20px 0px;
    text-decoration: none;
}


/* Related Products and Addons */
.pie-form-related-data {
    background: #f6f6f6;
    padding: 10px 25px;
    border-radius: 20px;
    border: 1px solid #dadee1;
    margin: 30px 20px;
    box-sizing: border-box;
    float: left;
    width: calc(100% - 40px);
}
.pie-form-related-data .pie-form-data-top h2{
    font-size: 31px;
    color: #133950;
    font-weight: bold;
    margin:0;
    padding: 20px 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dadee1;
}
.pie-form-related-data .pie-form-data-top p{
    font-size: 17px;
    color: #133950;
    margin: 0;
    letter-spacing: 0.75px;
}
.pie-form-related-data .pie-form-data-bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px;
}
.pie-form-data{
    display: flex;
    width: 30%;
    margin: 0 auto;
}
.pie-form-related-data .pie-form-data .pie-form-data-img {
    width: 60px;
    height: 60px;
    margin: 21px 14px 14px;
    height: fit-content;
    background: #f1f1f1;
    padding: 10px;
    border: 1px solid #dadee1;
    border-radius: 11px;
}
/* .pie-form-data-info {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.pie-form-related-data .pie-form-data .pie-form-data-img img{
    width: 50px;
    height: 50px;
}
.pie-form-related-data .pie-form-data-info h3 a{
    font-size: 19px;
    color: #133950;
    font-weight: bold;
    margin: 0;
    padding: 20px 0px;
    text-decoration: none;
}

/* Addon Menu */
.toplevel_page_pie-forms ul.wp-submenu.wp-submenu-wrap li:last-child a{
    color: #ff2028 !important;
    font-weight: bold;
}

/* pf Header */

#pf-header {margin-left: -20px; margin-top: -5px;}
#pf-header .pie-notice-pro{
    /* margin: 0;  */
    background: #d7cbcc;
    border: none; 
    height: 50px;
    /* padding-left: 13%; */
}
#pf-header .pie-notice-pro p{
    padding-top: 16px; 
    color: rgba(54, 59, 63, 1);
    top: 49px;
    margin-top: 0px;
    text-align: center;
}
#pf-header .pie-notice-pro img{ 
    width:22px; 
    height:21.06px;
    padding-right: 10px;
    vertical-align: middle;
}
#pf-header .pie-notice-pro .notice-dismiss{top: 50%; right: 0%; transform: translate(0%, -50%);    padding: 0px 20px;}
#pf-header .pie-notice-pro .notice-dismiss::before{content: "";background: url(../images/header-close.svg)no-repeat center/cover;width: 18px;height: 18px;}
#pf-header .pf-logo img{width: 200px; padding-left: 25px; margin-top: 20px;}

/* pf Header End */

/*Pie form Notice Css*/
#notice .slick-list.draggable {
    width: 100%;
}
#notice .pie-notice .notice-dismis {
    all: unset;
    cursor: pointer;
    position: relative !important;
    /* right: 0 !important; */
    left: 97%;
    top: -40px !important;
}

#notice .pie-notice .notice-dismis img{
    margin-bottom: 10px;
}

#notice {
    width: 100%;
    /* margin-left: 10%; */
}

#notice .pie-notice{
    margin: 10px 0px;
    width: 97%;
}

#pie-notice-get {
    width: 135px;
    text-align: center;
    margin: 0px 5px;
}

.pie-notice.notice-info.notice_user.is-dismissible{
    display: flex;
    padding: 0 0.5% 0% 0.1%;
    align-items: center;
    background-color: #F6F6F6;
    border: 1px solid #DADEE1;
    flex-wrap: nowrap;
}
.pie-notice.notice-info.notice_user.is-dismissible .pr-launch-icon{
    margin-right: 2%;
    width: auto;
    /* border-right: 1px solid #DADEE1; */
    padding: 0% 1%;
    display: flex;
    position: relative;
}
body .pr-launch-icon .logo {
    border: 1px solid #DADEE1;
    background-color: #F0F0F1;
    width: 200px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* margin-bottom: 20px; */
    margin-right: 5px;
    border-radius: 10px;
    position: relative;
}
.pie-notice.notice-info.notice_user.is-dismissible .pr-launch-icon .logo img.last-img {
    width: 175px;
}
body .pr-launch-icon .logo:last-child{margin-right: 0;}
body .pr-launch-icon .logo:last-child {margin-bottom: 0;}
body .pr-launch-icon .plusicon {
    background: #DE0000;
    border: 1px solid #DADEE1;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    bottom: 16px;
}
.pie-notice.notice-info.notice_user.is-dismissible .pr-launch-icon img{
    width: auto;
}
.pie-notice.notice-info.notice_user.is-dismissible > div:last-child{
    width: calc( 100% - 30% - 1.5% );
}
.pie-notice.notice-info.notice_user.is-dismissible h2 {
    font-size: 24px;
    color: #133950;
    line-height: 31.8px;
    margin-bottom: 0px;
    margin-top: 0;
    font-weight: 700;
}
.notice_user.is-dismissible .button.button-primary {
    background: #DE0000 !important;
    border: none;
    border-radius: 40px;
    padding: 7px 20px;
    font-size: 14px;
    color: white;
    line-height: 21.2px;
    font-weight: 500;
    box-shadow: none;
}
.pie-notice.notice-info.notice_user.is-dismissible p{
    font-size: 14px;
    font-weight: 400;
    color: #133950;
    line-height: 26.32px;
    margin-bottom: 10px;
    margin-top: 0;
}
.pie-notice-dismiss:before {
    color: #DE3636;
    font: normal 20px/20px dashicons;
}
.pf-headin {padding: 15px 0;}
.pf-headin {
    /* position: relative; */
    padding-left: 2%;
    border-left: 1px solid #DADEE1;
}

.pf-headin:before {content: '';width: 1.3px;background-color: #DADEE1;position: absolute;height: 100%;left: -11px;top: 0;}

@media screen and (max-width:1440px) {
    body .pr-launch-icon .logo {
        width: 180px;
        height: 60px;
    }
    
    .pie-notice.notice-info.notice_user.is-dismissible .pr-launch-icon .logo img.last-img {
        width: 135px;
        height: 100%;
        object-fit: contain;
    }
    body .pr-launch-icon .logo.last-img-logo {
        background-color: transparent;
        border: none;
    }
    .pie-notice.notice-info.notice_user.is-dismissible h2 {
        margin-bottom: 0%;
        margin-top: 0;
    }
    .pie-notice.notice-info.notice_user.is-dismissible p {
        margin-bottom: 1%;
        margin-top: 0;
    }
    .pie-notice.notice-info.notice_user.is-dismissible h2 {font-size: 20px;}
    
    .notice_user.is-dismissible .button.button-primary {
        background: #DE0000 !important;
        border: none;
        border-radius: 40px;
        padding: 7px 20px;
        font-size: 13px;
        color: white;
        line-height: 21.2px;
        font-weight: 500;
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    body .pr-launch-icon .logo {width: 220px;height: 65px;}
}
@media (max-width: 620px) {
    .pie-notice.notice-info.notice_user.is-dismissible {padding: 020px;}
    .pie-notice.notice-info.notice_user.is-dismissible .pr-launch-icon {margin-right: 20px;padding: 25px 20px 25px 0;}
    .pie-notice.notice-info.notice_user.is-dismissible h2 {font-size: 22px;line-height: 21.8px;margin-bottom: 5px;}
    .pie-notice.notice-info.notice_user.is-dismissible p {margin-bottom: 10px;line-height: 20.32px;}
    .notice_user.is-dismissible .button.button-primary {
        line-height: 22.2px;
        padding: 8px 25px;
        font-size: 15px;
        box-shadow: none;
    }
}
@media (max-width: 560px) {
    .pie-notice.notice-info.notice_user.is-dismissible {flex-wrap: wrap;padding: 20px;}
    .pie-notice.notice-info.notice_user.is-dismissible .pr-launch-icon {
        margin-right: 0;
        width: 100%;
        border-right: none;
        padding: 0 0px 25px;
    }
    .pie-notice.notice-info.notice_user.is-dismissible div {text-align: center;}
}
@media (max-width: 360px) {
    .notice-dismiss {padding: 5px;}
}