*{
    margin: 0px;
    padding: 0px;
}
.tools-wrapper{
    float: left;
    width: 100%;
    padding: 20px 30px 0 30px;
    box-sizing: border-box;
}
h1.tools-page-heading {
    color: #133950;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
}
#wpcontent{
    padding-left:0px ;
}
.wrap.pie-forms {
    margin: 0;
}
.pie-forms_page_pf-settings #wpcontent{
    padding:0; 
 }
 .pf-nav-tab-wrapper{
     padding: 0;
     border:0;
     background-color:#133950;
     display: flex;
     width:100%;
    
 }
 .pf-nav-tab-wrapper a{
     font-size:14px;
     border: 0;
     margin: 0;
     padding: 20px 70px;
     color:#f1f1f1;
     background-color: transparent;
     font-weight: bold;
 }
 .pf-nav-tab-wrapper a:hover{
     border: 0;
     background-color:#33586f;
     color: #f1f1f1;
 }
 
 .environment-info .info-label {
    font-weight: bold;
    font-size: 15px;
    color: #133950;
    width: 300px;
    display: inline-block;
    margin: 10px 0px;
}
span.info-status {
    font-weight: normal;
    color: #133950;
}
textarea#pie-forms-plugins-and-themes {
    background-color: #f6f6f6;
    border: 0px;
    padding: 5px 10px;
    color: #133950;
    max-width:100%;
    min-width:50%;
    width:100%;
    height:350px;
    resize: none;
}
.pf-nav-tab-wrapper a.tab_environment {
    background: url(../images/tools/environment-icon.png) no-repeat 35px center;
}
.pf-nav-tab-wrapper a.tab_plugins_and_themes {
    background: url(../images/tools/pluginthemes-icon.png) no-repeat 35px center;
}
.pf-nav-tab-wrapper a.tab_import {
    background: url(../images/tools/import.png) no-repeat 30px 13px;
}
.pf-nav-tab-wrapper a.nav-tab-active{
    background-color:#33586f;
}
#wpbody-content > .notice{
    margin-top:85px;
}


/*Tool import start*/
.tools-wrapper *,
.tools-wrapper *::before,
.tools-wrapper *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tools-wrapper ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

.tools-wrapper ::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

.tools-wrapper :-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

.tools-wrapper .pieforms-setting-row {
  border-bottom: 1px solid #e4e4e4;
  padding: 30px 0;
  font-size: 14px;
  line-height: 1.3;
}

.tools-wrapper .pieforms-setting-row:first-of-type {
  padding-top: 10px !important;
}

@media (max-width: 781px) {
  .tools-wrapper .pieforms-setting-row {
    padding: 20px 0;
  }
}

.tools-wrapper .pieforms-setting-row.section-heading {
  padding: 20px 0;
}

.tools-wrapper .pieforms-setting-row.section-heading.no-desc h4 {
  margin: 0;
}

.tools-wrapper .pieforms-setting-row.section-heading .pieforms-setting-field {
  margin: 0;
  max-width: 1000px;
}

.tools-wrapper .pieforms-setting-row.tools p,
.tools-wrapper .pieforms-setting-row.tools p:first-of-type {
  margin-bottom: 16px;
}

.tools-wrapper .pieforms-setting-row.tools textarea {
  margin-top: 22px;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-checkbox input[type=checkbox] {
  float: left;
  margin: 1px 0 0 0;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-checkbox .desc {
  margin: 0 0 0 30px;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-license .pieforms-setting-label {
  padding-top: 8px;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-license p.type {
  margin-top: 12px;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-text .pieforms-setting-label, .tools-wrapper .pieforms-setting-row.pieforms-setting-row-number .pieforms-setting-label {
  padding-top: 8px;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-select .pieforms-setting-label {
  padding-top: 8px;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-radio .pieforms-setting-field input[type=radio] {
  margin: -3px 10px 0 0;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-radio .pieforms-setting-field label {
  margin-right: 30px;
  display: inline-block;
}

.tools-wrapper .pieforms-setting-row#pieforms-setting-row-email-template .pieforms-setting-field label:before {
  content: " ";
  display: block;
  width: 155px;
  height: 180px;
  margin: 0 0 10px 0;
}

.tools-wrapper .pieforms-setting-row#pieforms-setting-row-email-template .pieforms-setting-field .option-default:before {
  background: url(../images/settings-email-html.png) center center;
}

.tools-wrapper .pieforms-setting-row#pieforms-setting-row-email-template .pieforms-setting-field .option-none:before {
  background: url(../images/settings-email-plaintext.png) center center;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-image .pieforms-setting-field img {
  display: block;
  margin: 0 0 20px 0;
  max-width: 400px;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-color .pieforms-color-picker {
  padding-left: 40px;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-color .minicolors-input-swatch {
  top: 7px;
  left: 7px;
  height: 21px;
  width: 21px;
  border-radius: 2px;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-columns {
  display: flex;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-columns .pieforms-setting-label {
  float: none;
  align-self: center;
  flex: 0 0 200px;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-columns .pieforms-setting-field {
  margin: 0;
  flex: 1;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-columns .pieforms-setting-columns {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-columns .pieforms-setting-column {
  margin-right: 5px;
  flex-basis: 390px;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-columns .pieforms-setting-column > * {
  width: 100%;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-columns .pieforms-setting-column label {
  display: inline-block;
  margin-bottom: 10px;
}

.tools-wrapper .pieforms-setting-row.pieforms-setting-row-columns .pieforms-setting-column .desc {
  margin-bottom: 10px;
}

.tools-wrapper .pieforms-setting-row h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.tools-wrapper .pieforms-setting-row h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 6px 0;
}

.tools-wrapper .pieforms-setting-row h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.tools-wrapper .pieforms-setting-row p {
  margin: 12px 0 0;
  font-size: 14px;
  line-height: 1.3;
}

.tools-wrapper .pieforms-setting-row p:first-of-type {
  margin: 8px 0 0;
}

.tools-wrapper .pieforms-setting-row p.desc {
  font-style: italic;
  color: #666;
}

.tools-wrapper .pieforms-setting-row p.discount-note {
  font-style: italic;
  color: #666;
}

.tools-wrapper .pieforms-setting-row p.discount-note strong {
  color: green;
}

.tools-wrapper .pieforms-setting-row input[type=text],
.tools-wrapper .pieforms-setting-row input[type=password],
.tools-wrapper .pieforms-setting-row input[type=number],
.tools-wrapper .pieforms-setting-row select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: none;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 12px;
  margin: 0 10px 0 0;
  width: 400px;
  min-height: 35px;
  line-height: 1.3;
}

@media (max-width: 959px) {
  .tools-wrapper .pieforms-setting-row input[type=text],
  .tools-wrapper .pieforms-setting-row input[type=password],
  .tools-wrapper .pieforms-setting-row input[type=number],
  .tools-wrapper .pieforms-setting-row select {
    width: 300px;
  }
}

.tools-wrapper .pieforms-setting-row input[type=number] {
  width: 100px;
}

.tools-wrapper .pieforms-setting-row button {
  margin-right: 10px;
}

.tools-wrapper .pieforms-setting-row .choicesjs-select-wrap {
  display: block;
  max-width: 400px;
  color: #333;
}

@media (max-width: 959px) {
  .tools-wrapper .pieforms-setting-row .choicesjs-select-wrap {
    width: 300px;
  }
}

.tools-wrapper .pieforms-setting-row .progress-bar {
  background: #fff;
  border: 1px solid #133950;
  height: 30px;
  width: 100%;
  position: relative;
  border-radius: 3px;
  margin: 0 0 16px 0;
}

.tools-wrapper .pieforms-setting-row .progress-bar.complete {
  border: 1px solid #2a9b39;
}

.tools-wrapper .pieforms-setting-row .progress-bar.complete .bar {
  background-color: #2a9b39;
}

.tools-wrapper .pieforms-setting-row .progress-bar.complete .bar:after {
  content: none;
  display: none;
}

.tools-wrapper .pieforms-setting-row .progress-bar .bar {
  display: block;
  background: #133950;
  height: 100%;
  left: 0;
  position: absolute;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

@-webkit-keyframes progress {
  to {
    background-position: 60px 0;
  }
}

@-moz-keyframes progress {
  to {
    background-position: 60px 0;
  }
}

@keyframes progress {
  to {
    background-position: 60px 0;
  }
}

.tools-wrapper .pieforms-setting-row .progress-bar .bar:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: progress 1s linear infinite;
  -moz-animation: progress 1s linear infinite;
  animation: progress 1s linear infinite;
  background-repeat: repeat-x;
  background-size: 60px 60px;
  background-image: -webkit-linear-gradient(-45deg, transparent 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, transparent 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.tools-wrapper .pieforms-setting-label {
  display: block;
  float: left;
  width: 200px;
  padding: 0;
}

@media (max-width: 781px) {
  .tools-wrapper .pieforms-setting-label {
    float: none;
    width: 100%;
    padding-bottom: 15px;
  }
}

.tools-wrapper .pieforms-setting-label label {
  display: block;
  font-weight: 600;
}

.tools-wrapper .pieforms-setting-field {
  display: block;
  margin: 0 0 0 200px;
  max-width: 800px;
}

@media (max-width: 781px) {
  .tools-wrapper .pieforms-setting-field {
    margin: 0;
  }
}

.tools-wrapper p.submit {
  margin: 0;
  padding: 25px 0;
}

.tools-wrapper .info-area,
.tools-wrapper .pre-error {
  display: block;
  width: 100%;
  max-width: 1000px;
  height: 450px;
  font-family: Menlo,Monaco,monospace;
  font-size: 12px;
  background: #fff;
  box-shadow: none;
  border: 1px solid #ddd;
  white-space: pre;
  overflow: auto;
  padding: 20px;
}

.tools-wrapper .pre-error {
  height: auto;
  max-height: 250px;
  margin-bottom: 20px;
}

.tools-wrapper .checkbox-multiselect-columns {
  max-width: 600px;
  position: relative;
}

.tools-wrapper .checkbox-multiselect-columns:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}

.tools-wrapper .checkbox-multiselect-columns:before {
  content: "\f362";
  color: #999;
  font: normal normal 900 20px/1 "Font Awesome 5 Free";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 130px;
  left: 50%;
  margin: 0 0 0 -10px;
}

.tools-wrapper .checkbox-multiselect-columns .header {
  font-weight: 600;
  font-size: 13px;
  margin: 0;
  padding: 0 0 5px 0;
  text-align: center;
}

.tools-wrapper .checkbox-multiselect-columns .first-column,
.tools-wrapper .checkbox-multiselect-columns .second-column {
  width: 45%;
  float: left;
}

.tools-wrapper .checkbox-multiselect-columns .second-column {
  float: right;
}

.tools-wrapper .checkbox-multiselect-columns .second-column ul li {
  padding: 10px;
}

.tools-wrapper .checkbox-multiselect-columns ul {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  position: relative;
  height: 250px;
  padding: 0;
  overflow-y: auto;
  margin: 0;
  list-style-type: none;
}

.tools-wrapper .checkbox-multiselect-columns ul li {
  border-bottom: 1px #eee solid;
  margin: 0;
  font-size: 14px;
}

.tools-wrapper .checkbox-multiselect-columns ul li label {
  display: block;
  padding: 10px 10px 10px 32px;
  position: relative;
  vertical-align: baseline;
}

.tools-wrapper .checkbox-multiselect-columns ul li label:hover {
  background-color: #133950;
  color: #fff;
}

.tools-wrapper .checkbox-multiselect-columns ul li label:before {
  content: "\f0c8";
  color: #ddd;
  font: normal normal 900 16px/1 "Font Awesome 5 Free";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 12px;
  left: 10px;
}

.tools-wrapper .checkbox-multiselect-columns ul li label.checked {
  opacity: 0.6;
}

.tools-wrapper .checkbox-multiselect-columns ul li label.checked:before {
  content: "\f14a";
  color: #2a9b39;
}

.tools-wrapper .checkbox-multiselect-columns ul li input {
  display: none;
}

.tools-wrapper .checkbox-multiselect-columns .all {
  color: #999;
  display: inline-block;
  font-size: 13px;
  margin: 10px 0 0;
}

.tools-wrapper #pieforms-importer-analyze {
  display: none;
}

.tools-wrapper #pieforms-importer-analyze .process-count,
.tools-wrapper #pieforms-importer-analyze p {
  font-size: 14px;
}

.tools-wrapper #pieforms-importer-analyze .upgrade {
  display: none;
  font-size: 14px;
}

.tools-wrapper #pieforms-importer-analyze .upgrade h5 {
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin: 30px 0 20px 0;
}

.tools-wrapper #pieforms-importer-analyze .upgrade hr {
  border: none;
  border-bottom: 1px solid #e4e4e4;
  margin: 40px 0;
}

.tools-wrapper #pieforms-importer-analyze .upgrade .pieforms-btn {
  margin-right: 10px;
}

.tools-wrapper #pieforms-importer-analyze .upgrade ul li {
  list-style-type: disc;
  margin-left: 14px;
}

.tools-wrapper #pieforms-importer-analyze .upgrade ul li.form {
  list-style-type: none;
  margin-left: 0;
  font-weight: 700;
}

.tools-wrapper #pieforms-tools-entries-export h5 {
  clear: both;
  margin: 20px 0 10px 0;
}

.tools-wrapper #pieforms-tools-entries-export label {
  clear: both;
  float: left;
  margin: 3px 0 3px 0;
}

.tools-wrapper #pieforms-tools-entries-export .choicesjs-select-wrap {
  position: relative;
}

.tools-wrapper #pieforms-tools-entries-export .choicesjs-select-wrap .choices {
  margin-bottom: 0;
}

.tools-wrapper #pieforms-tools-entries-export #pieforms-tools-entries-export-selectform-spinner {
  position: absolute;
  top: 6px;
  right: -30px;
}

.tools-wrapper #pieforms-tools-entries-export .pieforms-date-selector {
  width: 200px;
  cursor: pointer;
}

.tools-wrapper #pieforms-tools-entries-export .pieforms-search-box-field {
  width: 200px;
}

.tools-wrapper #pieforms-tools-entries-export .pieforms-search-box-comparison {
  width: 140px;
}

.tools-wrapper #pieforms-tools-entries-export .pieforms-search-box-term {
  width: 300px;
}

.tools-wrapper #pieforms-tools-entries-export section {
  margin-top: 20px;
}

.tools-wrapper #pieforms-tools-entries-export iframe {
  width: 0;
  height: 0;
  visibility: hidden;
}

.tools-wrapper #pieforms-tools-entries-export .pieforms-btn-text {
  opacity: 1;
  transition: all .5s;
}

.tools-wrapper #pieforms-tools-entries-export .pieforms-btn-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .5s;
}

.tools-wrapper #pieforms-tools-entries-export .pieforms-btn-spinner-on {
  cursor: default;
  opacity: 0.75;
  position: relative;
}

.tools-wrapper #pieforms-tools-entries-export .pieforms-btn-spinner-on .pieforms-btn-text {
  opacity: 0 !important;
  transition: all .5s;
}

.tools-wrapper #pieforms-tools-entries-export .pieforms-btn-spinner-on .pieforms-btn-spinner {
  opacity: 1 !important;
  transition: all .5s;
}

.tools-wrapper #pieforms-tools-entries-export .pieforms-btn-spinner-on:hover {
  background-color: #133950;
  border-color: #133950;
}

.tools-wrapper #pieforms-tools-entries-export #pieforms-tools-entries-export-process-msg,
.tools-wrapper #pieforms-tools-entries-export #pieforms-tools-entries-export-selectform-msg {
  background: #fff;
  border-left: 4px solid #22A0D0;
  line-height: 1.5em;
  margin: 20px 0 0 0;
  padding: 10px;
}

.tools-wrapper #pieforms-tools-entries-export #pieforms-tools-entries-export-process-msg.pieforms-error,
.tools-wrapper #pieforms-tools-entries-export #pieforms-tools-entries-export-selectform-msg.pieforms-error {
  border-color: #dc3232;
}

.tools-wrapper #pieforms-importer-process {
  display: none;
}

.tools-wrapper #pieforms-importer-process .process-count,
.tools-wrapper #pieforms-importer-process .process-completed {
  font-size: 14px;
}

.tools-wrapper #pieforms-importer-process .process-completed {
  display: none;
}

.tools-wrapper #pieforms-importer-process .status {
  margin: 20px 0 30px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  max-height: 800px;
  overflow-y: scroll;
  display: none;
}

.tools-wrapper #pieforms-importer-process .status .item {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
.tools-wrapper #pieforms-importer-process .status .item .pieforms-clear{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.tools-wrapper #pieforms-importer-process .status .item:last-of-type {
  border: none;
}

.tools-wrapper #pieforms-importer-process .status .item p {
  font-size: 13px;
  margin: 12px 0 0;
}

.tools-wrapper #pieforms-importer-process .status .item ul {
  font-size: 13px;
  margin: 12px 0 0 16px;
}

.tools-wrapper #pieforms-importer-process .status .item ul li {
  list-style: disc;
}

.tools-wrapper #pieforms-importer-process .status .item .status-icon {
  display: inline-block;
  margin: 0 10px 0 0;
}

.tools-wrapper #pieforms-importer-process .status .item .status-icon.fa-info-circle {
  color: #00a0d2;
}

.tools-wrapper #pieforms-importer-process .status .item .status-icon.fa-check {
  color: #46b450;
}

.tools-wrapper #pieforms-importer-process .status .item .status-icon.fa-exclamation-triangle {
  color: #ffb900;
}

.tools-wrapper #pieforms-importer-process .status .item .status-icon.fa-times, .tools-wrapper #pieforms-importer-process .status .item .status-icon.fa-exclamation-circle {
  color: #dc3232;
}

.tools-wrapper #pieforms-importer-process .status .item .name {
  font-size: 14px;
  float: left;
}

.tools-wrapper #pieforms-importer-process .status .item .actions {
  font-size: 14px;
  float: right;
}

.tools-wrapper #pieforms-importer-process .status .item .actions .sep {
  color: #ddd;
}

.tools-wrapper .settings-lite-cta {
  background-color: #fff;
  border: 1px solid #dadada;
  padding: 25px 20px;
  margin: 10px 0 0 0;
  position: relative;
}

.tools-wrapper .settings-lite-cta .dismiss {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #666;
  font-size: 16px;
}

.tools-wrapper .settings-lite-cta h5 {
  margin: 0 0 16px;
  font-size: 18px;
  font-weight: 700;
}

.tools-wrapper .settings-lite-cta h6 {
  font-weight: 700;
  font-size: 14px;
  margin: 0 0 16px;
}

.tools-wrapper .settings-lite-cta p {
  color: #555;
  font-size: 14px;
  margin: 0 0 16px;
}

.tools-wrapper .settings-lite-cta p:last-of-type {
  margin: 0;
}

.tools-wrapper .settings-lite-cta p a {
  color: #133950;
}

.tools-wrapper .settings-lite-cta p a:hover {
  color: #b85a1b;
}

.tools-wrapper .settings-lite-cta ul {
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
}

@media (max-width: 600px) {
  .tools-wrapper .settings-lite-cta ul {
    width: 100%;
    float: none;
  }
}

.tools-wrapper .settings-lite-cta ul li {
  margin: 0;
  padding: 0 0 2px 16px;
  color: #555;
  font-size: 14px;
  position: relative;
}

.tools-wrapper .settings-lite-cta ul li:before {
  content: '+';
  position: absolute;
  top: -1px;
  left: 0;
}

.tools-wrapper .settings-lite-cta .list {
  margin: 0 0 16px 0;
  overflow: auto;
  max-width: 900px;
}

.tools-wrapper .settings-lite-cta .green {
  color: #218900;
  font-weight: 700;
}

.tools-wrapper .settings-lite-cta .fa-star {
  color: #ff982d;
}

.tools-wrapper .tablenav .tablenav-pages a,
.tools-wrapper .tablenav-pages-navspan {
  min-width: 28px;
  height: auto;
}

.tools-wrapper .notice {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.tools-wrapper .pieforms-btn {
  border: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: none;
}
.tools-wrapper .pieforms-btn-md {
  font-size: 13px;
  font-weight: 600;
  padding: 8px 12px;
  min-height: 35px;
}
.tools-wrapper .pieforms-btn-orange {
  background-color: #133950;
  border-color: #133950;
  color: #fff;
}
.tools-wrapper #pieforms-importer-analyze .upgrade .pieforms-btn {
  margin-right: 10px;
}
.tools-wrapper .pieforms-btn-light-grey {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #666;
}
/*Tool import end*/